@import "../vars.scss";
@import "../mixins.scss";

.list-dotted {
  margin-top: 25px; //remove
  list-style: none;
  padding-left: 20px;
}

.list-dotted__item {
  position: relative;
  margin-bottom: 30px;
  &::before {
    $size: 8px;
    position: absolute;
    content: '';
    top: 5px;
    left: -20px;
    height: $size;
    width: $size;
    border-radius: 50%;
    background-color: $link-color;
  }
}
